html { box-sizing: border-box; -ms-overflow-style: scrollbar; }
*, *::before, *::after { box-sizing: inherit; }
.container { width: 100%; max-width: 1230px; padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; }
