@import 'config';
@import 'fonts';
.flex{
	display: flex;
	&.w{
		flex-wrap: wrap;
	}
	&.jb{
		justify-content: space-between;
	}
	&.js{
		justify-content: flex-start;
	}
	&.je{
		justify-content: flex-end;
	}
	&.ac{
		align-items: center;
	}
}
#menu-top { 
	background: #0066cc;
	 position: relative;
	  z-index: 99; }
.nav-menu { 
	display: table;
	 width: 100%;
	  position: relative; }
.nav-menu a { 
	text-decoration: none;
	 display: flex; 
	 align-items: center; 
	 text-align: center; 
	 height: 45px; color: #fff; text-transform: uppercase; font-size: 14px; justify-content: center; }
.nav-menu li:hover > ul { display: block; }
.nav-menu li { position: relative; }
.nav-menu > li.menu { display: table-cell; position: relative; border-right: 1px solid #0250c3; }
.nav-menu > li.menu.active, .nav-menu > li.menu:hover { background-color: #f5c900; }
.nav-menu > li.menu.active > a, .nav-menu > li.menu:hover > a { color: #0148ae; }
.nav-menu > li.menu ul { position: absolute; display: none; }
.nav-menu > li.menu ul li { white-space: nowrap; padding: 0 15px; display: flex; }
.nav-menu > li.menu > ul.nav-menu-list { background-color: #f5c900; }
.nav-menu > li.menu > ul.nav-menu-list li:hover { background-color: #0148ae; }
.nav-menu > li.menu > ul.nav-menu-list a { color: #1f1f1f; }
.nav-menu > li.menu > ul.nav-menu-list ul.nav-menu-cat { background-color: #e6bc00; }
.nav-menu > li.menu > ul.nav-menu-list ul { left: 100%; top: 0; }

#gioithieu{
	background: url("../images/bg_gioithieu.jpg");
	background-size: cover;
	padding-top: 70px;
}
#gioithieu .detail{
	width: 600px;
	color:#f5f5f5;
	font-size: 14px;
	font-family: roboto-regular;
}
#gioithieu .image{
	width: calc(100% - 630px);
}
.gioithieu-header{
	text-transform: uppercase;
	line-height: 1;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	&:before{
		background: #0066cc;
		content: "";
		width: 9px;
		height: 100%;
		top:0;
		left: 0;
		position: absolute;
	}
	.label{
		font-family: roboto-regular;
		color: #FFF;
		font-size: 16px;
	}
	.title{
		color: #0080ff;
		font-size: 30px;
		font-family: "utm-helvetin";
	}
}
.gioithieu-content{
	font-family: roboto-regular;
	font-size: 14px;
	color: #f5f5f5;
	line-height: 1.75;
	max-height:170px;
	overflow: hidden;
}
#gioithieu .more a{
	    display: inline-flex;
    padding: 8px 25px;
    background: #0080ff;
    color: #FFF;
}