.line{
	position: relative;
	&:before{
		position: absolute;
	}
	&.stroke:before{
		content: "";
		width: 68px;
		height: 2px;
		background-color: #000;
	}
	&.bottom-left{
		&:before{
			bottom: 0;
			left: 0;
		}
	}
	&.bottom-center{
		&:before{
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
}
.line.bg.header-title{
	&:before{
		content: url("../images/header-title.png");

	}
}
