.pos-a{
	position: absolute;
}
.pos-r{
	position: relative;
}
.pos-f{
	position: fixed;
}
.pos-s{
	position: sticky;
}

@for $i from 0 through 10{
	.top-#{$i*10}{
		top: $i* 10 * 1%;
	}
	.bottom-#{$i*10}{
		bottom: $i* 10 * 1%;
	}
	.left-#{$i*10}{
		left: $i* 10 * 1%;
	}
	.right-#{$i*10}{
		right: $i* 10 * 1%;
	}
}

@for $i from 0 through 5{
	.pt-#{$i*10}{
		padding-top: $i* 10 * 1%;
	}
	.pb-#{$i*10}{
		padding-bottom: $i* 10 * 1%;
	}
	.pl-#{$i*10}{
		padding-left: $i* 10 * 1%;
	}
	.pr-#{$i*10}{
		padding-right: $i* 10 * 1%;
	}
}